<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add Your Comment</h4>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<form>
							<div class="form-group">
								<label>Title: <input ng-model="newComment.title" class="form-control" type="text"></label>
							</div>
							<div class="form-group">
								<label>Comment: <textarea ng-model="newComment.content" class="form-control" name="" id="" cols="30" rows="10"></textarea></label>
							</div>
							<div class="form-group">
								<label>Rating (1-10): <input ng-model="newComment.rating" class="form-control" type="number"></label>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="addComment(currentObject)" data-dismiss="modal">Add Comment</button>
				</div>
			</div>
		</div>
	</div>